<div>
  {{#each post as |post| }}
  <div class="card bg-light mb-3">
    <div class="card-header bg-custom-1">Created by {{post.User.username}} on {{post.created_at}}</div>
    <a onclick="postById(`{{post.id}}`)" class="card-header has-text-black">{{post.title}} </a>
    <div class="card-body">
      <p class="card-text">{{post.content}}</p>
    </div>
  </div>
  {{/each}}

 <div class="d-flex justify-content:centre">
    <a class="btn btn bg-custom-1 btn-lg newpost" href="/newpost" role="button">+ New Post</a>
  </div>

</div>

<script src="/js/postbyid.js"></script>